.custom_menu {position:relative;z-index:999;}
.custom_menu > div:first-child .list-group-item {border-radius:4px 4px 0 0}
.custom_menu > div:last-child .list-group-item {border-radius:0 0 4px 4px}
.custom_menu > div + div .list-group-item {border-radius:0; margin-top:-1px;}
.custom_menu > div > div .list-group-item {border-radius:0px !important;}
.custom_menu > div > div div + div{margin-top:-1px;}
.custom_menu i {width:10px;height:10px;font-size:0.8em;}
.custom_menu > a > i {margin:0 8px 0 0;}
.custom_menu > a + i {position:absolute;z-index:99;right:12px;top:13px;}
.custom_menu div > a {padding-left:15px;}
.custom_menu span {padding:0 15px 0 0;}
.custom_menu i + span {padding:0 0 0 4px;}
.custom_menu img {width:16px;height:auto;margin:-2px 8px 0 0;}
.custom_menu span + i{position:absolute;right:9px;top:13px;}
.custom_menu a:hover span + i, .custom_menu a.active span + i {transform:rotate(-90deg);top:11px;}
.custom_menu div {position:relative;}
.custom_menu div .list-group {display:none;}
.custom_menu div:hover > .list-group {display:table;min-width:60%;}
.custom_menu > div > div {display:table-cell;}
.custom_menu > div:hover > div div:hover > div {display:block;}
.custom_menu > div a + div {position:absolute;z-index:-1;top:0;}
#column-left .custom_menu > div a + div {left:100%;margin:0 0 0 -2px;}
#column-right .custom_menu > div a + div {right:100%;margin:0 -2px 0 0;}